{% extends "base.html" %}
{% block title %}Bitiso.org{% endblock %}
{% block content %}
<div class="container">
  <!--  <div class="row align-self-center"> -->
<!--    </div> -->

<h1> FAQ </h1>

<h3> What can I found here </h3>

<p> You can find free and open source software for wide use case, like </p>

<ul>
  <li>Sound and Video editing</li>
  <li>Multimedia</li>
  <li>Office</li>
  <li>Operating system</li>
</ul>

<h3> Is it legal to download content from here ? </h3>

<p> The content shared here can be shared with others without restriction </p>

<h3> What torrent and BitTorrent are ? </h3>

<p> BitTorrent is protocol, or let say, a tool to share any content </p>

<h3> Does BitTorrent or p2p legal ? </h3>

<p> Yes they are. They are just known because used to share legal content like movies and music </p>

<h3> Why download with BitTorrent ? </h3>

<p> Because it's fast, reliable and ecologic. No central point of failure </p>

<h3> Software shared at Bitiso free virus ? </h3>

<p> They scanned before upload and coming from original source as mentioned in the torrent description. </p>

<h3> How can I help contribute</h3>

<p> You can suggest content or other at contact at bitiso dot org</p>

{% endblock %}
