html {

background-color: #181a1b;
}
body {
	color: rgb(157, 148, 136);
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    position: relative;
    left: 0;
    padding-left: 0;
}
    #layout.active #menu {
        left: 150px;
        width: 150px;
    }

    #layout.active .menu-link {
        left: 150px;
    }

/*
The content `<div>` is where all your content goes.
*/
.content {
    margin: 0 auto;
    padding: 0 2em;
    /*max-width: 400px;*/
    margin-bottom: 50px;
    /*line-height: 1.6em;*/
}

.header {
     margin: 0;
     /*color: #333;*/
     text-align: center;
     padding: 2.5em 2em 0;
     /*border-bottom: 1px solid #eee;*/
     color: rgb(200, 195, 188);
     border-bottom-color: rgb(53, 57, 59);
 }

.header h1 {
    /*margin: 0.5em 0;*/
    padding: 0px;
    margin: 0px;
    font-size: 3em;
    font-weight: 300;
}
 .header h2 {
    font-weight: 300;
    color: #ccc;
    padding: 0;
    margin-top: 0;
}

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}

/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/
#menu {
    margin-left: -150px; /* "#menu" width */
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #191818;
    overflow-y: auto;
    background-color: rgb(18, 20, 21);
    background-image: none;
}

/*
All anchors inside the menu should be styled like this.
*/
#menu a {
    color: #999;
    border: none;
    padding: 0.6em 0 0.6em 0.6em;
}

/*
Remove all background/borders, since we are applying them to #menu.
*/
 #menu .pure-menu,
 #menu .pure-menu ul {
    border: none;
    background: transparent;
}

/*
Add that light border to separate items into groups.
*/
#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {
    border-top: 1px solid #333;
}
    /*
    Change color of the anchor links on hover/focus.
    */
    #menu .pure-menu li a:hover,
    #menu .pure-menu li a:focus {
        background: #333;
    }

/*
This styles the selected menu item `<li>`.
*/
#menu .pure-menu-selected,
#menu .pure-menu-heading {
    background: #1f8dd6;
}

/*
This styles a link within a selected menu item `<li>`.
*/
#menu .pure-menu-selected a {
    color: #fff;
}

/*
This styles the menu heading.
*/
#menu .pure-menu-heading {
    font-size: 110%;
    color: #fff;
    margin: 0;
}

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    left: 0; /* "#menu width" */
    background: #000;
    background: rgba(0,0,0,0.7);
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
}

.menu-link:hover,
.menu-link:focus {
    background: #000;
}

.menu-link span {
    position: relative;
    display: block;
}

.menu-link span,
.menu-link span:before,
.menu-link span:after {
    background-color: #fff;
    pointer-events: none;
    width: 100%;
    height: 0.2em;
}

.menu-link span:before,
.menu-link span:after {
    position: absolute;
    margin-top: -0.6em;
    content: " ";
}

.menu-link span:after {
    margin-top: 0.6em;
}

/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {

    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    #layout {
        padding-left: 150px; /* left col width "#menu" */
        left: 0;
    }
    #menu {
        left: 150px;
    }

    .menu-link {
        position: fixed;
        left: 150px;
        display: none;
    }

    #layout.active .menu-link {
        left: 150px;
    }
}

@media (max-width: 48em) {
    /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small.
        * Tap the menu to trigger the active state.
        * Make the window large again.
    */
    #layout.active {
        position: relative;
        left: 150px;
    }
}

.pure-table thead {
	background-color: rgb(42, 45, 47);
	color: rgb(232, 230, 227);
}
.pure-table-horizontal td, .pure-table-horizontal th {
	border-bottom-color: rgb(63, 68, 71);
}
.pure-table {
	border-color: rgb(63, 68, 71);
    margin: auto;
    margin-top: 50px;
    border: 0px;
}

.seed {
	background-color: transparent;
	color: #6dff69;
}

.leech {
	background-color: transparent;
	color: #ff2f2f;
	
}

a:link {
  color: rgb(230, 230, 230);
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: rgb(230, 230, 230);
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: rgb(202, 197, 255);
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: rgb(230, 230, 230);
  background-color: transparent;
  text-decoration: underline;
}
.pure-g {
  display: flex;
  flex-wrap: wrap;
}

.pure-u-1, .pure-u-md-1-3, .pure-u-lg-1-4 {
    box-sizing: border-box;
    flex-basis: 100%;
}

@media (min-width: 768px) {
    .pure-u-md-1-3 {
        flex-basis: calc(33.33% - 10px); /* un peu moins que 1/3 pour laisser de la marge */
        margin-right: 10px;
    }
}

@media (min-width: 992px) {
    .pure-u-lg-1-4 {
        flex-basis: calc(25% - 10px); /* un peu moins que 1/4 pour laisser de la marge */
        margin-right: 10px;
    }
}

.project-card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
}

.project-image {
    width: 45%;
    display: block;
    max-height: 200px;
    margin: auto;
    width: 150px;
    height: 150px;
    display: block;
}

.project-description {
    padding: 15px;
    background-color: rgb(29, 31, 32);
    font-size: 14px;
}

.project-name {
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.scrollable-container {
    overflow-x: auto;
    width: 100%;
}

.no-wrap {
    white-space: nowrap;
    max-width: 100%;
}

/* Normal screen  */
.pure-table td, .pure-table th {
            overflow: visible;
}

/* Mobile */
@media only screen and (max-width: 600px) {
        .pure-table {
        overflow-x: auto;
    }
}

.single-line {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
}

.project-detail-container {
    margin: 20px 0;
    padding: 20px;
}

.project-image-container {
    text-align: center;
    padding: 20px;
}

.project-image {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-links {
    list-style-type: none;
    padding: 0;
}

.project-links li {
    margin: 10px 0;
}

.project-links a {
    color: #006fe6;
    text-decoration: none;
    border-bottom: 1px dotted #006fe6;
    transition: border-color 0.3s;
}

.project-links a:hover {
    border-bottom-color: transparent;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.centered-form {
    text-align: center;
    display: flex;
}

.search-container {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.centered-form {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    box-sizing: border-box;
    margin-right: 5px;
    width: 75%;
}

.search-btn {
    box-sizing: border-box;
}

.torrent-table {
    margin-top: 5px;
}