{% extends 'base.html' %}

{% block content %}
    <h2>Project List</h2>
    <p>You have {{ project_count }} projects.</p>

    <form method="post" action="{% url 'bulk_project_action' %}">
        {% csrf_token %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Select</th>
                    <th>Thumbnail</th>
                    <th>Status</th>
                    <th>Project Name</th>
                    <th>Torrents</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for project in user_projects %}
                    <tr>
                        <td><input type="checkbox" name="project_ids" value="{{ project.id }}"></td>
                        <td>
                            {% if project.medium_image %}
                                <img src="{{ project.medium_image.url }}" alt="{{ project.name }}" style="width: 50px; height: 50px;">
                            {% else %}
                                No Image
                            {% endif %}
                        </td>
                        <td>
                            {% if project.is_active %}
                                Active
                            {% else %}
                                Inactive
                            {% endif %}
                        </td>
                        <td><a href="{% url 'project_edit' project.slug %}">{{ project.name }}</a></td>
                        <td>{{ project.torrent_count }}</td>
                        <td>{{ project.description|truncatewords:20 }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Bulk actions -->
        <button type="submit" name="activate" class="btn btn-success">Show in Front End</button>
        <button type="submit" name="deactivate" class="btn btn-warning">Hide from Front End</button>
        <button type="submit" name="delete" class="btn btn-danger">Delete</button>
    </form>

    <a href="{% url 'project_create' %}" class="btn btn-primary">Create New Project</a>
{% endblock %}
