
{% extends "torrent/base.html" %}
{% block title %}Bitiso.org{% endblock %}
{% block content %}
<div class="container">
  <!--  <div class="row align-self-center"> -->
<!--    </div> -->

<h1> About Bitiso.org </h1>

   <p> Bitiso is a torrent tracker that index opensourcesoftware. We ensure that torrent we've created have at least one seed, so it shouldn't die or be orphan.
   </p>  
<h2>  OpenPGP </h2>

  <p> 
The Bitiso Team cryptographically signs its downloads using the OpenPGP standard. You can use OpenPGP tools to verify that the files you download come from us.

OpenPGP tools

  <ul>
<li>or Mac: GPGTools GPG Suite </li>
<li>or Windows: Gpg4win        </li>
<li>ulti-platform CLI: GnuPG   </li>
  </ul> 
   </p> 
</div>
{% endblock %}
