<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bittorrent tracker that index opensource and free contents">
    <title>Bitiso.org</title>
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/css/pure-min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<style>
pre {
  color: rgb(255, 117, 26);
}
    {#.freedom-text {#}
    {#    font-family: 'Roboto Slab', serif;#}
    {#    font-size: 24px;#}
    {#    color: rgba(104, 136, 255, 0.6); /* une couleur orange accrocheuse */#}
    {#    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* une ombre portée pour plus de profondeur */#}
    {#}#}

</style>
<body>

<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    {% include "torrent/menu.html" %}

    <div id="main">
        <div class="header">

            <!-- <h2></h2> -->
            <h1>Bitiso.org</h1>
            <div class="freedom-text">Freedom in Every Byte.</div>

        </div>

        <div class="content">
    {% block content %}
    {% endblock %}
       </div>
</div>

<script src="/static/js/ui.js"></script>

</body>
</html>

