{% extends "torrent/base.html" %}
{% load static %}
{% block title %}Bitiso.org{% endblock %}
{% block content %}
    <h1>Detail of {{ torrent_detail.name }}</h1>

<!-- Torrent general information -->
<dl class="row">
  <dt class="col-sm-3">Info hash</dt>
  <dd class="col-sm-9">{{ torrent_detail.info_hash}}</dd>

  <dt class="col-sm-3">Name</dt>
  <dd class="col-sm-9">{{ torrent_detail.name}} </dd>

  <dt class="col-sm-3">Size</dt>
  <dd class="col-sm-9">{{ torrent_detail.size | filesizeformat }} ({{torrent_detail.size}} byte) </dd>

  <dt class="col-sm-3">Pieces</dt>
  <dd class="col-sm-9">{{ torrent_detail.pieces}} </dd>

  <dt class="col-sm-3">Piece Size</dt>
  <dd class="col-sm-9">{{ torrent_detail.piece_size}} </dd>

  <dt class="col-sm-3">Creation</dt>
  <dd class="col-sm-9">{{ torrent_detail.creation }} </dd>

  <dt class="col-sm-3">Trackers</dt>
  <dd class="col-sm-9">
	   {% for tracker in tracker_detail %}
           {{ tracker.tracker.url }} <span class="seed">{{ tracker.seed }}</span> <span class="leech">{{ tracker.leech }}</span> <br/>
  	   {% endfor %}
  </dd>

  <dt class="col-sm-3">Magnet</dt>
  <dd class="col-sm-9"> <a href="{{ torrent_detail.magnet}} "><img src="{% static 'img/icon-magnet.gif' %}" alt="Magnet link"></a></dd>

  <dt class="col-sm-3">Metainfo file (.torrent)</dt>
  <dd class="col-sm-9"><a href="/media/{{ torrent_detail.metainfo_file }} ">{{ torrent_detail.torrent_filename }}</a></dd>

  {%   if torrent_detail.gpg_signature %}
  <dt class="col-sm-3">GPG signature</dt>
  <dd class="col-sm-9">{{ torrent_detail.gpg_signature }} </dd>
  {% endif %}

  <dt class="col-sm-3">Created by bitiso</dt>
  {%   if torrent_detail.is_bitiso == True %}
  <dd class="col-sm-9">Yes</dd>
  {% else %}
  <dd class="col-sm-9">No</dd>
  {% endif %}

  {%   if torrent_detail.gpg_signature %}
  <dt class="col-sm-3">File numbers</dt>
  <dd class="col-sm-9">{{ torrent_detail.file_nbr}} </dd>
  {% endif %}

  {%   if torrent_detail.gpg_signature %}
  <dt class="col-sm-3">File list</dt>
  <dd class="col-sm-9"><pre>{{ torrent_detail.file_list}}</pre></dd>
  {% endif %}

<!-- Torrent bitiso extra information -->

  {%   if torrent_detail.description %}
  <dt class="col-sm-3">Description</dt>
  <dd class="col-sm-9"> <p> {{ torrent_detail.description }} </p></dd>
  {% endif %}

  {%  if torrent_detail.website_url %}
  <dt class="col-sm-3">Website URL</dt>
  <dd class="col-sm-9"><a href="{{ torrent_detail.website_url }}">{{ torrent_detail.website_url }}</a></dd>
  {% endif %}

  {%   if torrent_detail.website_url_download %}
  <dt class="col-sm-3">Website URL download</dt>
  <dd class="col-sm-9">{{ torrent_detail.website_url_download }} </dd>
  {% endif %}

  {%   if torrent_detail.website_url_repo %}
  <dt class="col-sm-3">Repository URL </dt>
  <dd class="col-sm-9">{{ torrent_detail.website_url_repo }} </dd>
  {% endif %}

  {%   if torrent_detail.architecture  %}
  <dt class="col-sm-3">Architecture</dt>
  <dd class="col-sm-9">{{ torrent_detail.architecture }} </dd>
  {% endif %}

  {%   if torrent_detail.version  %}
  <dt class="col-sm-3">Version</dt>
  <dd class="col-sm-9">{{ torrent_detail.version }} </dd>
  {% endif %}

  {%   if torrent_detail.project.name  %}
  <dt class="col-sm-3">Project</dt>
  <dd class="col-sm-9">{{ torrent_detail.project.name }} </dd>
  {% endif %}

  {%   if torrent_detail.project.description  %}
  <dt class="col-sm-3">Description</dt>
  <dd class="col-sm-9">{{ torrent_detail.project.description }} </dd>
  {% endif %}

  {%   if torrent_detail.project.website_url  %}
  <dt class="col-sm-3">Website</dt>
      <dd class="col-sm-9"><a href="{{  torrent_detail.project.website_url }}">{{  torrent_detail.project.website_url }}</a> </dd>
  {% endif %}

  {%   if  torrent_detail.project.website_url_download  %}
  <dt class="col-sm-3">Website download page</dt>
  <dd class="col-sm-9"><a href="{{ torrent_detail.project.website_url_download }}">{{ torrent_detail.project.website_url_download }}</a> </dd>
  {% endif %}

  {%   if   torrent_detail.website_url_repo  %}
  <dt class="col-sm-3">URL repository</dt>
  <dd class="col-sm-9">{{ torrent_detail.project.website_url_repo }} </dd>
  {% endif %}
</dl>
{% endblock %}