{% extends "torrent/base.html" %}
{% load static %}
{% block title %}Bitiso.org{% endblock %}
{% block content %}
    <h1>{{ torrent_detail.name }}</h1>


{{ torrent_detail.info_hash}}
    {{ torrent_detail.name}}
    {{ torrent_detail.size | filesizeformat }} ({{torrent_detail.size}}
    {{ torrent_detail.pieces}}
    {{ torrent_detail.piece_size}}
    {{ torrent_detail.creation }}
	   {% for tracker in tracker_detail %}
           {{ tracker.tracker.url }} <span class="seed">{{ tracker.seed }}</span> <span class="leech">{{ tracker.leech }}</span> <br/>
  	   {% endfor %}
    <a href="{{ torrent_detail.magnet}} "><img src="{% static 'img/icon-magnet.gif' %}" alt="Magnet link"></a>
    <a href="/media/{{ torrent_detail.metainfo_file }} ">{{ torrent_detail.torrent_filename }}</a>
    {% if torrent_detail.gpg_signature %}
        {{ torrent_detail.gpg_signature }}
    {% endif %}
  {% if torrent_detail.is_bitiso == True %}
  Yes
  {% else %}
  No
  {% endif %}
{{ torrent_detail.file_nbr}}
{{ torrent_detail.file_list}}

  {% if torrent_detail.description %}
  {{ torrent_detail.description }}
  {% endif %}

    {%  if torrent_detail.website_url %}
<a href="{{ torrent_detail.website_url }}">{{ torrent_detail.website_url }}</a>
  {% endif %}

  {% if torrent_detail.website_url_download %}
{{ torrent_detail.website_url_download }}
  {% endif %}

  {% if torrent_detail.website_url_repo %}
{{ torrent_detail.website_url_repo }}
  {% endif %}

  {% if torrent_detail.architecture  %}
  {{ torrent_detail.architecture }}
  {% endif %}

  {% if torrent_detail.version  %}
  {{ torrent_detail.version }}
  {% endif %}

  {% if torrent_detail.project.name %}
  {{ torrent_detail.project.name }}
  {% endif %}

  {% if torrent_detail.project.description  %}
  {{ torrent_detail.project.description }}
  {% endif %}

  {% if torrent_detail.project.website_url  %}
  <a href="{{  torrent_detail.project.website_url }}">{{  torrent_detail.project.website_url }}</a>
  {% endif %}

  {%   if  torrent_detail.project.website_url_download  %}
<a href="{{ torrent_detail.project.website_url_download }}">{{ torrent_detail.project.website_url_download }}</a>
  {% endif %}

  {%   if   torrent_detail.website_url_repo  %}
{{ torrent_detail.project.website_url_repo }}
  {% endif %}


{% endblock %}