{% extends "torrent/base.html" %}
{% block title %}Bitiso.org{% endblock %}
{% block content %}
<div class="container d-flex h-100">
  <!--  <div class="row align-self-center"> -->
    <table class="table .table-sm">
        <thead>
            <tr>
                <th>Category</th>
                <th>Name</th>
                <th>Creation</th>
                <th>Size</th>
                <th>Torrent file</th>
                <th>Magnet</th>
                <th>Seed</th>
                <th>Leech</th>
            </tr>
        </thead>
        <tbody>
{% if torrent_list %}
{% for torrent in torrent_list %}
            <tr>
                <td><a href="/category/{{ torrent.category_id.id }}">{{ torrent.category_id.name }}</a></td>
                <td><a href="/detail/{{ torrent.info_hash }}">{{ torrent.name }}</a></td>
                <td>{{ torrent.creation }}</td>
                <td>{{ torrent.size | filesizeformat  }}</td>
                <td><a href="{{ torrent.metainfo_file }}">Torrent</a></td>
                <td><a href="{{ torrent.magnet }}">Magnet</a></td>
                <td>{{ torrent.seed }}</td>
                <td>{{ torrent.leech }}</td>
            </tr>
{% endfor %}
{% endif %}
        <tbody>
    </table>
<!--    </div> -->
</div>
{% endblock %}
