{% extends "torrent/base.html" %}
{% block title %}Bitiso.org{% endblock %}
{% load static %}
{% block content %}
<table class="pure-table pure-table-horizontal">
    <thead>
            <tr>
                <th>Category</th>
                <th>Name</th>
                <th>Creation</th>
                <th>Size</th>
                <th>Torrent file</th>
                <th>Magnet</th>
                <th>Seed</th>
                <th>Leech</th>
            </tr>
    </thead>
        <tbody>
{% if torrent_list %}
{% for torrent in torrent_list %}
            <tr>
                <td><a href="/category/{{ torrent.category.id }}">{{ torrent.category.name }}</a></td>
                <td>
                    {% if torrent.project.mini_image %}
                    <img src="{{ torrent.project.mini_image.url }}" alt="">
                    {% endif %}
                    <a href="/detail/{{ torrent.info_hash }}">{{ torrent.name }}</a></td>
                <td>{{ torrent.creation | date:"M. j, Y" }}</td>
                <td>{{ torrent.size | filesizeformat  }}</td>
                <td><a href="/media/{{ torrent.metainfo_file }}">Torrent</a></td>
                <td><a href="{{ torrent.magnet }}"><img src="{% static 'img/icon-magnet.gif' %}" alt="Magnet link"></a></td>
                <td class="seed">{{ torrent.seed }}</td>
                <td class="leech">{{ torrent.leech }}</td>
            </tr>
{% endfor %}
{% endif %}
        </tbody>
</table>
{% endblock %}
