{% extends "torrent/base.html" %}
{% load static %}


{% block content %}

<div style="display: flex; align-items: center;">
    <div style="flex-shrink: 0; margin-right: 20px;">
        {% if project.medium_image %}
        <img src="{{ project.medium_image.url }}" alt="{{ project.name }}" style="width: 200px; height: 200px; object-fit: contain;">
        {% else %}
        <img src="" alt="{{ project.name }}" style="width: 200px; height: 200px; object-fit: contain;">
        {% endif %}
    </div>
    <div>
        <h1>{{ project.name }}</h1>
        <p>{{ project.description }}</p>
        <p><strong>Website:</strong> <a href="{{ project.website_url }}">{{ project.website_url }}</a></p>
        <p><strong>Download Page:</strong> <a href="{{ project.website_url_download }}">{{ project.website_url_download }}</a></p>
        <p><strong>Repository:</strong> <a href="{{ project.website_url_repo }}">{{ project.website_url_repo }}</a></p>
        <a href="{% url 'project_detail' %}" style="display: inline-block; padding: 10px 20px; background-color: #1f8dd6; color: white; text-decoration: none; border-radius: 5px;">Back to Project List</a>
    </div>
</div>

<div class="torrent-table-wrapper">
    <style>
        .torrent-table-wrapper {
            overflow-x: auto; /* Allows horizontal scrolling on smaller screens */
            margin: 20px 0; /* Adds margin around the table for spacing */
        }

        .torrent-table {
            width: 100%;
            border-collapse: collapse; /* Removes extra spacing between cells */
        }

        .torrent-table th,
        .torrent-table td {
            padding: .5em 1em; /* Adjusted padding */
            text-align: left;
            border-bottom: 1px solid #eee; /* Light border for row separation */
            border-left: 1px solid #cbcbcb; /* Left border */
            border-width: 0 0 0 1px; /* Border width adjusted */
            font-size: inherit; /* Inherit font size */
            margin: 0; /* Reset margin */
            overflow: visible; /* Ensure overflow is visible */
        }

        .torrent-table th {
            font-weight: bold;
            background-color: #f5f5f5; /* Light background for headers */
        }

        .torrent-table tr:hover {
            background-color: #f9f9f9; /* Light background on row hover */
        }

        .torrent-table .no-wrap {
            white-space: nowrap; /* Prevents text wrapping in this cell */
        }

        .torrent-table img {
            vertical-align: middle;
            margin-right: 8px;
            width: 20px; /* Adjust the size of the image as needed */
        }

        .torrent-table .center-content-magnet {
            text-align: center;
        }

        .torrent-table .seed,
        .torrent-table .leech {
            text-align: center;
        }
    </style>

    <table class="torrent-table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Size</th>
                <th>Date</th>
                <th>T</th>
                <th>M</th>
                <th>Seed</th>
                <th>Leech</th>
            </tr>
        </thead>
        <tbody>
            {% for torrent in torrents %}
            <tr>
                <td><a href="/category/{{ torrent.category.id }}">{{ torrent.category.category_parent_id.name|default:"None" }}</a></td>
                <td class="no-wrap">
                    {% if torrent.project.mini_image %}
                    <img src="{{ torrent.project.mini_image.url }}" alt="">
                    {% endif %}
                    <a href="/detail/{{ torrent.name }}">{{ torrent.name }}</a>
                </td>
                <td>{{ torrent.size | filesizeformat }}</td>
                <td class="single-line">{{ torrent.creation | date:"M. j" }}</td>
                <td><a href="/media/{{ torrent.metainfo_file }}">Torrent</a></td>
                <td class="center-content-magnet"><a href="{{ torrent.magnet }}"><img src="{% static 'img/icon-magnet.gif' %}" alt="Magnet link"></a></td>
                <td class="seed">{{ torrent.seed }}</td>
                <td class="leech">{{ torrent.leech }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
