{% extends "torrent/base.html" %}
{% block title %}Bitiso.org{% endblock %}
{% load static %}
{% block content %}
    <div class="pure-g">
        {% for project in projects %}
        <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-4">
            <div class="project-card">
                <div class="project-name">
                    <a href="{% url 'project_detail' project.id %}">
                        {{ project.name }}
                    </a>
                </div>
                {% if project.small_image %}
                <a href="{% url 'project_detail' project.id %}">
                    <img src="{{ project.medium_image.url }}" alt="{{ project.name }}" class="project-image">
                </a>
                {% endif %}
                <div class="project-description">
                    {{ project.description }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}

<style>
    .project-card {
        padding: 20px;
        border: 1px solid #ddd;
        margin-bottom: 20px;
        text-align: center;
    }
    .project-name {
        font-weight: bold;
        margin-bottom: 10px;
    }
    .project-image {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
    .project-description {
        font-size: 0.9em;
        color: #666;
    }
</style>
