{% extends "torrent/base.html" %}

{% block content %}
<div class="pure-g project-container">
    <div class="pure-u-1">
        <h1>{{ project.name }}</h1>
    </div>
    <div class="pure-u-1 project-details">
        <div class="project-image-container">
            {% if project.medium_image %}
            <img src="{{ project.medium_image.url }}" alt="{{ project.name }}" class="project-image">
            {% else %}
            <img src="https://via.placeholder.com/150" alt="{{ project.name }}" class="project-image">
            {% endif %}
        </div>
        <div class="project-info-container">
            <p>{{ project.description }}</p>
            <p><strong>Website:</strong> <a href="{{ project.website_url }}">{{ project.website_url }}</a></p>
            <p><strong>Download Page:</strong> <a href="{{ project.website_url_download }}">{{ project.website_url_download }}</a></p>
            <p><strong>Repository:</strong> <a href="{{ project.website_url_repo }}">{{ project.website_url_repo }}</a></p>
        </div>
    </div>
</div>

<h2>Torrents</h2>

<div class="pure-g">
    <div class="pure-u-1">
        <table class="pure-table pure-table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Seed</th>
                    <th>Leech</th>
                    <th>Date Added</th>
                </tr>
            </thead>
            <tbody>
                {% for torrent in torrents %}
                <tr>
                    <td>{{ torrent.name }}</td>
                    <td>{{ torrent.size|filesizeformat }}</td>
                    <td>{{ torrent.seed }}</td>
                    <td>{{ torrent.leech }}</td>
                    <td>{{ torrent.creation|date:"d M Y H:i" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<a href="{% url 'project_detail' %}" class="pure-button pure-button-primary">Back to Project Dashboard</a>
{% endblock %}
