{# user_profiles/templates/user_profiles/profile_edit.html #}
{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<h2>{% trans "Edit Profile" %}</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% trans "Save changes" %}</button>
</form>

<a href="{% if USE_UUID_FOR_PROFILE_URL %}{% url 'profile_view' uuid=user.uuid %}{% else %}{% url 'profile_view' username=user.username %}{% endif %}">{% trans "Cancel" %}</a>
{% endblock %}
