{# torrents/templates/torrents/projcect_list.html #}
{% extends 'base.html' %}

{% block content %}
<h2>Project List</h2>
{% if user.is_authenticated %}
<a href="{% url 'project_create' %}">Create New Project</a>
{% endif %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Project</th>
                    <th>Torrent</th>
                    <th>Categoryx</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                    <tr>
                        <td>
                            {% if project.small_image %}
                                <img src="{{ project.small_image.url }}" alt="{{ project.name }}" style="width: 40px; height: 40px;">
                            {% else %}
                            {% endif %}
                        </td>
                        <td><a href="{% url 'project_detail' project.slug  %}">{{ project.name }}</a> </td>
                        <td>{{ project.torrent_count }}</td>
                        <td>{{ project.category }}</td>
                        <td>{{ project.description|truncatewords:20 }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}
