{# torrents/templates/torrents/project_detail.html #}

{% extends 'base.html' %}

{% block content %}
        {% if object.medium_image %}
    <img src="{{ object.medium_image.url }}" alt="{{ object.medium_image.url }}" style="width: 100px; height: 100px; object-fit: contain;">
    {% endif %}
<h2>{{ object.name }}</h2>
<p>{{ object.description }}</p>

<p>Official Website: <a href="{{ object.website_url }}">{{ object.website_url }}</a></p>
<p>Download: <a href="{{ object.website_url_download }}">{{ object.website_url_download }}</a></p>
<p>Repository: <a href="{{ object.website_url_repo }}">{{ object.website_url_repo }}</a></p>

<a href="{% url 'project_edit' object.slug %}">Edit</a>
<a href="{% url 'project_delete' object.slug %}">Delete</a>

<h3>Related Torrents</h3>

{% include "torrents/_torrent_list_public.html" %}

{% endblock %}
