{# torrents/templates/torrents/torrent_list.html #}
{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<h2>{{ active_torrent_count }} torrents</h2>

<!-- Sorting Options -->
<div class="mb-3">
    <a href="?sort_by=date{% if page_obj.number %}&page={{ page_obj.number }}{% endif %}" 
       class="btn btn-sm {% if sort_by == 'date' %}btn-primary{% else %}btn-outline-primary{% endif %}">
       {% trans "Sort by Date" %}
    </a>
    <a href="?sort_by=seeds{% if page_obj.number %}&page={{ page_obj.number }}{% endif %}" 
       class="btn btn-sm {% if sort_by == 'seeds' %}btn-primary{% else %}btn-outline-primary{% endif %}">
       {% trans "Sort by Seeds" %}
    </a>
    <a href="?sort_by=leeches{% if page_obj.number %}&page={{ page_obj.number }}{% endif %}" 
       class="btn btn-sm {% if sort_by == 'leeches' %}btn-primary{% else %}btn-outline-primary{% endif %}">
       {% trans "Sort by Leeches" %}
    </a>
</div>

{% include "torrents/_torrent_list_global.html" with torrents=torrents is_paginated=is_paginated page_obj=page_obj %}

{% endblock %}