{% extends 'base.html' %}

{% block content %}
 
<div class="torrent-details">
    {% if torrent.project.image %}
        <img src="{{ torrent.project.image.url }}" alt="{{ torrent.project.name }}" style="width: 100px; height: 100px; object-fit: contain;">
    {% endif %}

    <h2>{{ torrent.name|default:"N/A" }}</h2>
    <p>Size: {{ torrent.size|filesizeformat|default:"N/A" }} ({{ torrent.size|default:"N/A" }} bytes)</p>
    <p>File Count: {{ torrent.file_count|default:"N/A" }}</p>
    <p>Description: {{ torrent.description|default:"N/A" }}</p>
    <p>
        Torrent File: 
    {% if filename %}
        <a href="{% url 'serve_torrent_file' filename=filename %}">
            {{ filename }}
        </a>
    {% else %}
        N/A
    {% endif %}
    </p>
    <p>
        Magnet Link: 
        {% if torrent.magnet %}
            <a href="{{ torrent.magnet }}">Magnet</a>
        {% else %}
            N/A
        {% endif %}
    </p>
    <p>Category: {{ torrent.category.name|default:"N/A" }}</p>
    <p>
        Website: 
        {% if torrent.website_url %}
            <a href="{{ torrent.website_url }}">{{ torrent.website_url }}</a>
        {% else %}
            N/A
        {% endif %}
    </p>

    <h3>Trackers:</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>URL</th>
                <th>Seeders</th>
                <th>Leechers</th>
            </tr>
        </thead>
        <tbody>
            {% for tracker in tracker_detail %}
                <tr>
                    <td>{{ tracker.tracker.url|default:"N/A" }}</td>
                    <td>{{ tracker.seed|default:"N/A" }}</td>
                    <td>{{ tracker.leech|default:"N/A" }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No trackers found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if user.is_authenticated and user == torrent.user %}
        <div class="action-buttons">
            <a href="{% url 'torrent_edit' torrent.slug %}" class="btn btn-primary">Edit Torrent</a> |
            <a href="{% url 'torrent_delete' torrent.slug %}" class="btn btn-danger">Delete Torrent</a>
        </div>
    {% endif %}
</div>

{% endblock %}
