{# accounts/templates/accounts/form_language_switcher.html #}
{% load i18n %}
<!-- Language Switcher -->
    <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ request.path }}">
        <select name="language">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% for lang in LANGUAGES %}
                <option value="{{ lang.0 }}"{% if lang.0 == LANGUAGE_CODE %} selected{% endif %}>
                    {{ lang.1 }}
                </option>
            {% endfor %}
        </select>
        <button type="submit">{% trans "Change language" %}</button>
    </form>