{% extends 'base.html' %}

{% block content %}
<h2>{{ user.username }}'s Dashboard</h2>

<div class="dashboard-menu">
    <ul>
        <li><a href="{% url 'user_torrents' %}">My Torrents ({{ torrents_count }})</a></li>
        <li><a href="{% url 'user_projects' %}">My Projects ({{ projects_count }})</a></li>
        <li><a href="{% url 'user_categories' %}">My Categories ({{ categories_count }})</a></li>
    </ul>
</div>

<p>Welcome, {{ user.username }}! Here is an overview of your content:</p>

<!-- Additional sections you might find interesting -->
<ul>
    <li>Torrents Uploaded: {{ torrents_count }}</li>
    <li>Projects Created: {{ projects_count }}</li>
    <li>Categories Created: {{ categories_count }}</li>
</ul>

<a href="{% url 'torrent_upload' %}" class="btn btn-primary">Upload a New Torrent</a>
<a href="{% url 'torrent_import_from_url' %}" class="btn btn-secondary">Import from URL</a>
{% endblock %}
