body {
    width:50%;
    margin-left:auto;
    margin-right:auto;
    font-family: sans-serif;
}


/*nav {*/
/*    text-align: center;*/
/*}*/

main {
    margin-left:auto;
    margin-right:auto;
}

footer {
    text-align: center;
}

