body {
    width:50%;
    margin-left:auto;
    margin-right:auto;
    font-family: sans-serif;
}


/*nav {*/
/*    text-align: center;*/
/*}*/

.table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
    max-width: 100%; /* Prevents table from extending beyond container */
}

/* Optional: Add padding or margin adjustments for better spacing */
.table-container table {
    width: 100%; /* Keeps table width full within container */
}


main {
    margin-left:auto;
    margin-right:auto;
}

footer {
    text-align: center;
}

/* Front end categorie */

.category-list ul {
    list-style-type: none;
    padding-left: 0;
}

.category-list > ul > li {
    margin-bottom: 1.5em;
}

.category-list ul ul {
    margin-top: 0.5em;
    padding-left: 1.5em;
    border-left: 2px solid #ccc;
}

.category-list a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.category-list a:hover {
    text-decoration: underline;
}

.category-list p {
    font-size: 0.9em;
    /*color: #605f5f;*/
    margin: 0.3em 0 1em;
}

/* Backend categorie */

.category-list, .subcategory-list {
    list-style-type: none;
    padding-left: 0;
}

.category-list > li {
    margin-bottom: 1em;
}

.subcategory-list {
    margin-top: 0.5em;
    padding-left: 1.5em;
    border-left: 2px solid #ddd;
}

.actions {
    margin-top: 0.5em;
}

.actions .btn {
    margin-right: 0.5em;
}
