{# templates/base.html #}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    <title>{% trans "Welcome to" %} {{ project_name }}</title>
</head>
<body>
    <header>
<nav>
    <a href="{% url 'home' %}">{% trans "Home" %}</a>  <!-- Corrected 'home' URL -->
    <!-- Include the page list -->
    {% include 'pages/_page_list_partial.html' %}
    <!-- Authentication links -->
    {% if user.is_authenticated %}
        <form method="post" action="{% url 'logout' %}" style="display: inline;">
            {% csrf_token %}
            <button type="submit">{% trans "Logout" %}</button>
        </form>
    {% else %}
        <a href="{% url 'register' %}">{% trans "Register" %}</a>
        <a href="{% url 'login' %}">{% trans "Login" %}</a>
    {% endif %}
    <!-- Language switcher -->
    {% include 'shared/form_language_switcher.html' %}

</nav>

    </header>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
