{# templates/base.html #}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title>{% trans "Welcome to" %} {{ project_name }}</title>
</head>
<body>
    <header>
        <!-- Language switcher -->
        {% include 'shared/form_language_switcher.html' %}
        <nav>
            {% include 'shared/nav_links.html' %}
            {% include 'shared/auth_links.html' %}

        </nav>
    </header>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div>
        {% block content %}{% endblock %}
    </div>

    {% include 'shared/footer.html' %} 
</html>
