{% extends "bt/base.html" %}
{% block title %}Bitiso.org{% endblock %}
{% block content %}
<div class="container">
  <!--  <div class="row align-self-center"> -->
<!--    </div> -->

<h1> About Bitiso.org </h1>

<h2> The project  </h2>

   <p> 

      Bitiso is a torrent tracker that index free, and  open source, software

   </p>  
   <p> 

       We ensure that torrent we've created have at least one seed, so it shouldn't die or be orphan. </br> 

   </p>  

   <p> 

       The main focus is distribute free software and operating system like Linux and others </br> 

   </p>  

<h2> Software License  </h2>


<p> All software in Bitiso library allow us and you to share them. </br> </p> 

<p> They are distributed under terms that allow users to run the software for any purpose as well as to study, change, and distribute it and any adapted versions </br> </p> 



<h2> Security concern  </h2>
   <p> 

   <p>     Software has been scanned and published if nothing detected. </br> </p> 
   <p>     Bitiso is not responsible for any damage or bad usage of the material <br /></p>
   <p>     The GPG signatures of torrent is under active development </br> </p> 



<h2> Disclaimer </h2>


   <p> 
The information provided by Bitiso (“we,” “us” or “our”) on bitiso.org (the “Site”) is for general informational purposes only. </br> </br>
All information on the Site is provided in good faith, however we make no representation or warranty of any kind, express or implied, regarding the accuracy, adequacy, validity, reliability, availability or completeness of any information on the Site. </br>  </br>

Under no circumstance shall we have any liability to you for any loss or damage of any kind incurred as a result of the use of the site or reliance on any information provided on the site. </br>  </br>

Your use of the site and your reliance on any information on the site is solely at your own risk. 

   </p>  

</div>
{% endblock %}
