{% extends "base.html" %}
{% block title %}Bitiso.org{% endblock %}
{% load static %}
{% block content %}

<div class="search-container">
    <form method="get" action="{% url 'torrent_search' %}">
        <input type="text" name="query" placeholder="Search..." value="{{ form.query.value|default_if_none:'' }}">
        <button type="submit">Search</button>
    </form>
</div>



<!-- Top 10 Torrents by Seed -->
<h2 style="text-align: center;">Top 10 Torrents by Seed</h2>
    <!-- Include torrent table -->
    {% include 'shared/torrent_table.html' %}

    
<!-- New Torrents -->
<h2 style="text-align: center;">New torrents</h2>
    <!-- Include torrent table -->
    {% include 'shared/torrent_table.html' %}

    <!-- Include pagination -->
    {% include 'includes/pagination.html' %}
{% endblock %}
